amqp==5.0.9
asgiref==3.3.1
beautifulsoup4==4.9.3
billiard==3.6.4.0
celery==5.2.3
certifi==2021.10.8
cffi==1.14.4
charset-normalizer==2.0.10
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cryptography==3.3.1
cycler==0.10.0
distlib==0.3.4
Django==3.1.7
dnspython==2.2.0
et-xmlfile==1.1.0
filelock==3.4.2
Flask==2.0.2
Flask-MySQLdb==0.2.0
Flask-WTF==1.0.0
greenlet==1.1.2
idna==3.3
is-disposable-email==1.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.1
kombu==5.2.3
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-venn==0.11.6
module==0.0.4
MouseInfo==0.1.3
mysql-connector==2.2.9
mysql-connector-python==8.0.26
mysqlclient==2.1.0
numpy==1.20.0
openpyxl==3.0.9
pandas==1.3.4
Pillow==8.1.0
pipgui==1.1
platformdirs==2.4.1
prompt-toolkit==3.0.24
protobuf==3.19.4
PyAutoGUI==0.9.53
pycparser==2.20
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.28
python-dateutil==2.8.1
pytweening==1.0.4
pytz==2021.3
pywhatkit==5.3
requests==2.27.1
schedule==1.1.0
scipy==1.6.0
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.4.31
sqlparse==0.4.1
urllib3==1.26.8
vine==5.0.0
virtualenv==20.13.0
wcwidth==0.2.5
Werkzeug==2.0.2
wikipedia==1.4.0
WTForms==3.0.1
wtforms-validators==1.0.0
xlrd==2.0.1
